<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IsProduct" value="false"/>
    <add key="Develop" value="gateway.sandbox.push.apple.com"/>
    <add key="Product" value="gateway.push.apple.com"/>
    <add key ="P12File" value="ck.p12"/>
    <add key ="P12FilePsw" value="iphone"/>

    <add key="NotificationAlert" value="TEST!!!"/>
    <add key="NotificationSound" value="default"/>
    <add key="NotificationBage" value="1"/>
    
  </appSettings>
    <connectionStrings>
        <add name="Apple.Apns.Notifications.SendMessage.Properties.Settings.Huzubuh1_TestConnectionString"
            connectionString="Data Source=bleum-web-02;Initial Catalog=Huzubuh1_Test;User ID=sa;Password=A,12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>